In [1]:
#Dependencies and Setup
import pandas as pd
import os

In [2]:
#File to load
path = os.path.join("purchase_data.csv")

#Read file to load and stores it into a Dataframe
df = pd.read_csv(path).set_index(["Purchase ID"])

<h1>Player Count</h1)

In [33]:
pd.DataFrame({'Player Count': [len(df["SN"].unique())]}).set_index(["Player Count"])

Empty DataFrame
Columns: []
Index: [576]

<h1>Purchasing Analysis (Total)</h1>

<ul>
    <li>Run Basic calculations to obtain number of unique items, average prices, etc.</li>
    <li>Create a summary data frame to hold the results</li>
    <li>Optional: Give the displayed data cleaner formatting</li>
    <li>Display the summary data frame</li>
</ul>

In [65]:
purchasing_analysis = {
    'Number of Unique Items': [len(df["Item Name"].unique())], 
    'Average Price': ['${:,.2f}'.format(df["Price"].sum() / len(df["Price"]))],
    'Number of Purchases': [df["SN"].count()],
    'Total Revenue': ['${:,.2f}'.format(df["Price"].sum())]
}
pd.DataFrame(purchasing_analysis).set_index(['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])

Empty DataFrame
Columns: []
Index: [(179, $3.05, 780, $2,379.77)]

In [9]:
len(df.loc[df["Gender"] == "Male"])

652

In [10]:
int(len(df.loc[df["Gender"] == "Male"]) / int(len(df["Gender"])) * 100)

83

In [11]:
df.loc[df["Gender"] == "Male"].head(5)

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
round(df["Price"].loc[df["Gender"] == "Male"].sum() / len(df.loc[df["Gender"] == "Male"]), 2)

3.02

In [13]:
df["Price"].loc[df["Gender"] == "Male"].sum()

1967.64

In [14]:
len(df["SN"].loc[df["Gender"] == "Male"].unique())

484

Unique Male Screen Names

In [15]:
round(df["Price"].loc[df["Gender"] == "Male"].sum() / len(df["SN"].loc[df["Gender"] == "Male"].unique()), 2)

4.07