In [1]:
#Dependencies and Setup
import pandas as pd
import os

In [2]:
#File to load
path = os.path.join("purchase_data.csv")

#Read file to load and stores it into a Dataframe
df = pd.read_csv(path).set_index(["Purchase ID"])

<h1>Player Count</h1)

In [3]:
pd.DataFrame({'Player Count': [len(df["SN"].unique())]}).set_index(["Player Count"])

Empty DataFrame
Columns: []
Index: [576]

<h1>Purchasing Analysis (Total)</h1>

<ul>
    <li>Run Basic calculations to obtain number of unique items, average prices, etc.</li>
    <li>Create a summary data frame to hold the results</li>
    <li>Optional: Give the displayed data cleaner formatting</li>
    <li>Display the summary data frame</li>
</ul>

In [4]:
purchasing_analysis_df = pd.DataFrame({
    'Number of Unique Items': [len(df["Item Name"].unique())], 
    'Average Price': ['${:,.2f}'.format(df["Price"].sum() / len(df["Price"]))],
    'Number of Purchases': [df["SN"].count()],
    'Total Revenue': ['${:,.2f}'.format(df["Price"].sum())]
})
purchasing_analysis_df.set_index(['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])

Empty DataFrame
Columns: []
Index: [(179, $3.05, 780, $2,379.77)]

<h1>Gender Demographics</h1>
<ul>
    <li>Percentage and Count of Male Players</li>
    <li>Percentage and Count of Female Players</li>
    <li>Percentage and Count of Other / Non-Disclosed</li>
</ul>

In [5]:
gender_demographics = {
    'Total Count': [len(df.loc[df["Gender"] == "Male"]), len(df.loc[df["Gender"] == "Female"]), len(df.loc[df["Gender"] == "Other / Non-Disclosed"])],
    'Percentage of Players': [str(round(len(df.loc[df["Gender"] == "Male"]) / int(len(df["Gender"])) * 100)) + "%", str(round(len(df.loc[df["Gender"] == "Female"]) / int(len(df["Gender"])) * 100)) + "%", str(round(len(df.loc[df["Gender"] == "Other / Non-Disclosed"]) / int(len(df["Gender"])) * 100)) + "%",]
}
pd.DataFrame(gender_demographics).rename(index = {0: "Male", 1: "Female", 2: "Other / Non-Disclosed"})

                       Total Count Percentage of Players
Male                           652                   84%
Female                         113                   14%
Other / Non-Disclosed           15                    2%

<h1>Purchasing Analysis (Gender)</h1>
<ul>
    <li>Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender</li>
    <li>Create a summary data frame to hold the results</li>
    <li>Optional: Give the data cleaner formatting</li>
    <li>Display the summary data frame</li>
</ul>

In [6]:
gender_analysis = {
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [len(df["Gender"].loc[df["Gender"] == "Male"]), len(df["Gender"].loc[df["Gender"] == "Female"]),len(df["Gender"].loc[df["Gender"] == "Other / Non-Disclosed"])],
    "Average Purchase": ['${:,.2f}'.format(df["Price"].loc[df["Gender"] == "Male"].sum() / len(df["SN"].loc[df["Gender"] == "Male"])), '${:,.2f}'.format(df["Price"].loc[df["Gender"] == "Female"].sum() / len(df["SN"].loc[df["Gender"] == "Female"])), '${:,.2f}'.format(df["Price"].loc[df["Gender"] == "Other / Non-Disclosed"].sum() / len(df["SN"].loc[df["Gender"] == "Other / Non-Disclosed"]))],
    "Total Purchase Value": ['${:,.2f}'.format(df["Price"].loc[df["Gender"] == "Male"].sum()), '${:,.2f}'.format(df["Price"].loc[df["Gender"] == "Female"].sum()), '${:,.2f}'.format(df["Price"].loc[df["Gender"] == "Other / Non-Disclosed"].sum())],
    "Average Total Purchase Per Person": ['${:,.2f}'.format(df["Price"].loc[df["Gender"] == "Male"].sum() / len(df["SN"].loc[df["Gender"] == "Male"].unique())), '${:,.2f}'.format(df["Price"].loc[df["Gender"] == "Female"].sum() / len(df["SN"].loc[df["Gender"] == "Female"].unique())), '${:,.2f}'.format(df["Price"].loc[df["Gender"] == "Other / Non-Disclosed"].sum() / len(df["SN"].loc[df["Gender"] == "Other / Non-Disclosed"].unique()))]
}

pd.DataFrame(gender_analysis).set_index("Gender")

,Purchase Count,Average Purchase,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics
* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [23]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_names = ["<10", "10 - 14", "15 - 19", "20 - 24", "25 - 29", "30 - 34", "35 - 39", "40+"]
df["Age Group"] = pd.cut(df['Age'], bins, labels = bin_names)
age_demo_df = df.drop_duplicates(subset = "SN")

In [25]:
age_analysis = {
    "Total Count": [len(age_demo_df[["SN", "Age"]].loc[age_demo_df["Age Group"] == bin_names[0]]), len(age_demo_df[["SN", "Age"]].loc[age_demo_df["Age Group"] == bin_names[1]]), len(age_demo_df[["SN", "Age"]].loc[age_demo_df["Age Group"] == bin_names[2]]), len(age_demo_df[["SN", "Age"]].loc[age_demo_df["Age Group"] == bin_names[3]]), len(age_demo_df[["SN", "Age"]].loc[age_demo_df["Age Group"] == bin_names[4]]), len(age_demo_df[["SN", "Age"]].loc[age_demo_df["Age Group"] == bin_names[5]]), len(age_demo_df[["SN", "Age"]].loc[age_demo_df["Age Group"] == bin_names[6]]), len(age_demo_df[["SN", "Age"]].loc[age_demo_df["Age Group"] == bin_names[7]])],
    "Percentage of Players": [str(round((len(df[["SN", "Age"]].loc[df["Age Group"] == bin_names[0]]) / len(df[["SN"]]) * 100), 2)) + "%", str(round((len(df[["SN", "Age"]].loc[df["Age Group"] == bin_names[1]]) / len(df[["SN"]]) * 100), 2)) + "%", str(round((len(df[["SN", "Age"]].loc[df["Age Group"] == bin_names[2]]) / len(df[["SN"]]) * 100), 2)) + "%", str(round((len(df[["SN", "Age"]].loc[df["Age Group"] == bin_names[3]]) / len(df[["SN"]]) * 100), 2)) + "%", str(round((len(df[["SN", "Age"]].loc[df["Age Group"] == bin_names[4]]) / len(df[["SN"]]) * 100), 2)) + "%", str(round((len(df[["SN", "Age"]].loc[df["Age Group"] == bin_names[5]]) / len(df[["SN"]]) * 100), 2)) + "%", str(round((len(df[["SN", "Age"]].loc[df["Age Group"] == bin_names[6]]) / len(df[["SN"]]) * 100), 2)) + "%", str(round((len(df[["SN", "Age"]].loc[df["Age Group"] == bin_names[7]]) / len(df[["SN"]]) * 100), 2)) + "%"]
}
age_df = pd.DataFrame(age_analysis)
age_df.index = bin_names
age_df

         Total Count Percentage of Players
<10               17                 2.95%
10 - 14           22                 3.59%
15 - 19          107                17.44%
20 - 24          258                46.79%
25 - 29           77                12.95%
30 - 34           52                 9.36%
35 - 39           31                 5.26%
40+               12                 1.67%

In [40]:
df.head(5)

,SN,Age,Gender,Item ID,Item Name,Price,Age Group
Purchase ID,,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 - 24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20 - 24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 - 24
4,Iskosia90,23,Male,131,Fury,1.44,20 - 24